In [1]:
import pandas as pd
import psycopg2

In [3]:
connection = psycopg2.connect(
   dbname=DBNAME,
   user=USER,
   host=HOST,
   password=PASSWORD,
   port=PORT
)

In [8]:
n = 10
query = f'''select a.name,
            count(distinct e.id) cnt,
            count(v.id) cnt_v
    from public.employers e
    join public.areas a on a.id = e.area
    left join public.vacancies v on v.area_id = a.id
    group by a.id
    order by 2 desc
'''

In [9]:
df = pd.read_sql_query(query, connection)
display(df)

/tmp/ipykernel_15823/3475273297.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

                name   cnt     cnt_v
0             Москва  5864  31272712
1    Санкт-Петербург  2217   6320667
2              Минск  1115   2354880
3             Алматы   721   1364132
4       Екатеринбург   609   1034082
..               ...   ...       ...
649        Кызылорда     1         5
650         Кизилюрт     1         0
651         Буйнакск     1         2
652          Грозный     1        17
653          Балахна     1         2

[654 rows x 3 columns]